* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  transition: text-shadow 0.5s;
  transition-delay: 0.1s;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.5s, text-shadow 0.5s;
  transition-delay: 0.1s;
}