* {
  box-sizing: border-box;
}
.qqq {
  border: 1px solid black;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #000;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: box-shadow 0.5s, text-shadow 0.5s;
  transition-delay: 0.1s;
}
.back-red {
  background-color: #ed4c5c;
}
.back-gray {
  background-color: #fafafa;
}
.caption-h2,
.caption-h2-alt {
  margin: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-transform: capitalize;
}
.caption-h2-alt {
  text-transform: none;
  color: #fff;
}