.section-title {
  max-width: 100%;
  min-width: 300px;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
    url("../img/main_back_small.webp"),
    url("../img/main_back_small.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-title {
  min-width: 100%;
  padding-top: 125px;
  padding-bottom: 50px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.title-caption {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;  
  color: #fff;
}
.title-paragraph {
  display: block;
  max-width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.button-main {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-main:active {
  box-shadow: 0 0 5px #fff;
} 
.button-main:hover,
.button-main:focus {
  outline: none;
  box-shadow: 0 0 5px #fff;
  text-shadow: -0.1px 0 #ed4c5c, 0 0.1px #ed4c5c, 0.1px 0 #ed4c5c, 0 -0.1px #ed4c5c;
}
.font-button-main {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ed4c5c;
}
@media (min-width: 576px) {
  .container-title {
    min-width: 0;
    max-width: 540px;
    margin: 0 auto;
  }
  .title-caption {
    font-size: 48px;
  }
  .title-paragraph {
    max-width: 540px;
    font-weight: 400;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .section-title {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
      url("../img/main_back_2x.webp"),
      url("../img/main_back_2x.jpg"),
      url("../img/main_back.webp"),
      url("../img/main_back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container-title {
    max-width: 720px;
  }
  .title-caption {
    font-size: 54px;
  }
  .title-paragraph {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media (min-width: 992px) {
  .container-title {
    max-width: 960px;
    padding-top: 175px;
    padding-bottom: 100px;
  }
  .title-caption {
    font-size: 72px;
  }
  .title-paragraph {
    font-size: 24px;
  }
  .button-main {
    width: 160px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .container-title {
    max-width: 1140px;
    padding-top: 255px;
    padding-bottom: 185px;
  }
  .section-title {
    max-width: 1440px;
    margin: 0 auto;
  }
  .title-paragraph {
    max-width: 500px;
    padding-bottom: 55px;
  }
}