.section-focus {
  background-color: #ed4c5c;
  max-width: 100%;
  min-width: 300px;
}
.container-focus {
  min-width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.focus-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.focus-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
  text-align: justify;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.focus-icon-list {
  display: flex;
  align-items: center;
}
.focus-icon-list li {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
}
.focus-icon-list li:first-child {
  padding-left: 0;
}
.link-platform {
  display: block;
}
.link-platform:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}
.platform1,
.platform2,
.platform3 {
  font-size: 16px;
  color: #fff;
}
.platform1:hover,
.platform1:focus,
.platform2:hover,
.platform2:focus,
.platform3:hover,
.platform3:focus {
  text-shadow: -0.5px 0 #fff, 0 0.5px #fff, 0.5px 0 #fff, 0 -0.5px #fff, 0 0 5px #fff;
  color: #ed4c5c;
}
.img-wrap {
  max-width: 100%;
}
.img-focus {
  max-width: 100%;
  padding-top: 20px;
  border-radius: 15px;
  object-fit: cover;
  background-color: transparent;
}
@media (min-width: 576px) {
  .container-focus {
    min-width: 0;
    max-width: 540px;
    margin: 0 auto;
  }
  .focus-text {
    font-size: 14px;
  }
  .platform1,
  .platform2,
  .platform3 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .container-focus {
    max-width: 720px;
    padding-top: 45px;
    padding-bottom: 45px;
    flex-direction: row;
    justify-content: space-between;
  }
  .focus-description {
    max-width: 50%;
    padding-right: 10px;
  }
  .img-wrap {
    max-width: 50%;
  }
  .img-focus {
    padding-top: 0;
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  .container-focus {
    max-width: 960px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .focus-description {
    max-width: 445px;
    padding-right: 0;
  }
  .focus-text {
    padding-top: 40px;
  }
  .platform1,
  .platform2,
  .platform3 {
    font-size: 26px;
  }
  .focus-icon-list li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .caption-h2-alt {
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .section-focus {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container-focus {
    max-width: 1140px;
  }
  .img-focus {
    width: 540px;
    height: 378px;
  }
  .caption-h2-alt {
    font-size: 36px;
  }
  .platform1,
  .platform2,
  .platform3 {
    font-size: 32px;
  }
  .focus-text {
    padding-bottom: 50px;
  }
}